@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .custom-shadow-left {
    @apply after:w-[66px] after:h-full after:bg-gradient-to-l after:from-[#202020] after:to-[#FFFFFF00] after:absolute after:right-[calc(100%+12px)] after:opacity-[6%] after:bg-blend-multiply
  }

  .custom-shadow-right {
    @apply after:w-[66px] after:h-full after:bg-gradient-to-r after:from-[#202020] after:to-[#FFFFFF00] after:absolute after:left-[calc(100%+9px)] after:opacity-[6%] after:bg-blend-multiply
  }

  .custom-shadow-left-no-margin {
    @apply after:w-[66px] after:h-full after:bg-gradient-to-l after:from-[#202020] after:to-[#FFFFFF00] after:absolute after:right-[calc(100%)] after:opacity-[4%] after:bg-blend-multiply
  }

  .custom-shadow-right-no-margin {
    @apply after:w-[66px] after:max-w-[66px] after:h-full after:bg-gradient-to-r after:from-[#202020] after:to-[#FFFFFF00] after:absolute after:left-[calc(100%)] after:opacity-[4%] after:bg-blend-multiply
  }
}